{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Edit Book Info</h1>
    <form action="{{path('book_update', {id: book.id})}}" method="POST">
        Title:<input type="text" name="book_title" value="{{book.title}}">
        Pages:<input type="text" name="book_pages" value="{{book.pages}}">
        ISBN:<input type="text" name="book_isbn" value="{{book.isbn}}">
        Short description:<textarea name="book_short_description" id="summernote">{{book.shortDescription}}</textarea>  
        <select name="books_author">
        {% for author in authors %}
        <option value="{{author.id}}" {% if author.id == book.authorId %} selected {% endif %}>
        {{author.name}} {{author.surname}}
        </option>
        {% endfor %}
        </select>
        <button type="submit">Save</button>
    </form>
    <script>
        $('#summernote').summernote();
    </script>
{% endblock %}